In [12]:
from langchain.agents import create_pandas_dataframe_agent
from langchain.llms import AzureOpenAI
import os
import openai
from dotenv import load_dotenv

In [13]:
import pandas as pd

df = pd.read_csv('./mydata/titanic.csv')

In [14]:

load_dotenv()
# Configure OpenAI API
openai.api_type = "azure"
openai.api_version = "2022-12-01"
openai.api_base = os.getenv('OPENAI_API_BASE')
openai.api_key = os.getenv("OPENAI_API_KEY")

In [15]:
# Create a completion - qna를 위하여 davinci 모델생성
llm = AzureOpenAI(deployment_name="text-davinci-003")

USING API_BASE:
https://oai-sqlgpt.openai.azure.com/

In [17]:
agent = create_pandas_dataframe_agent(llm, df, verbose=True)

In [18]:
agent.run("how many rows are there?")

> Entering new AgentExecutor chain...
Thought: I need to check the size of the dataframe
Action: python_repl_ast
Action Input: df.shape
Observation: (891, 12)
Thought: I can see the number of rows is 891
Final Answer: There are 891 rows.

> Finished chain.

'There are 891 rows.'

In [19]:
agent.run("show me each count group by gender?")

> Entering new AgentExecutor chain...
Thought: I need to group by gender and then count
Action: python_repl_ast
Action Input: df.groupby('Sex').count()
Observation:         PassengerId  Survived  Pclass  Name  Age  SibSp  Parch  Ticket  Fare  \
Sex
female          314       314     314   314  261    314    314     314   314
male            577       577     577   577  453    577    577     577   577

        Cabin  Embarked
Sex
female     97       312
male      107       577
Thought: I now know the final answer
Final Answer: for females, there are 314 passengers, for males, there are 577 passengers.

> Finished chain.

'for females, there are 314 passengers, for males, there are 577 passengers.'

In [20]:
agent.run("전체 컬럼 이름들을 알려줘")

> Entering new AgentExecutor chain...
Thought: I need to get a list of the column names
Action: python_repl_ast
Action Input: df.columns
Observation: Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
Thought: I now know the final answer
Final Answer: ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

> Finished chain.

"['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']"

In [23]:
agent.run("4명 이상의 형제를 가진사람은 몇명이야?")

> Entering new AgentExecutor chain...
Thought: 나는 형제의 수가 4보다 큰 값을 갖는 행을 찾아야한다.
Action: python_repl_ast
Action Input: df[df['SibSp'] >= 4]
Observation:      PassengerId  Survived  Pclass                                     Name  \
16            17         0       3                     Rice, Master. Eugene
50            51         0       3               Panula, Master. Juha Niilo
59            60         0       3       Goodwin, Master. William Frederick
68            69         1       3          Andersson, Miss. Erna Alexandra
71            72         0       3               Goodwin, Miss. Lillian Amy
119          120         0       3        Andersson, Miss. Ellis Anna Maria
159          160         0       3               Sage, Master. Thomas Henry
164          165         0       3             Panula, Master. Eino Viljami
171          172         0       3                     Rice, Master. Arthur
180          181         0       3             Sage, Miss. Constance Gladys
182          183         0       3    Asplund, Master. Clarence Gustaf Hugo
201          202         0       3                      Sage, Mr. Frederick
233          234         1       3           Asplund, Miss. Lillian Gertrud
261          262         1       3        Asplund, Master. Edvin Rojj Felix
266          267         0       3                Panula, Mr. Ernesti Arvid
278          279         0       3                       Rice, Master. Eric
324          325         0       3                 Sage, Mr. George John Jr
386          387         0       3          Goodwin, Master. Sidney Leonard
480          481         0       3           Goodwin, Master. Harold Victor
541          542         0       3     Andersson, Miss. Ingeborg Constanzia
542          543         0       3        Andersson, Miss. Sigrid Elisabeth
683          684         0       3              Goodwin, Mr. Charles Edward
686          687         0       3                 Panula, Mr. Jaako Arnold
787          788         0       3                Rice, Master. George Hugh
792          793         0       3                  Sage, Miss. Stella Anna
813          814         0       3       Andersson, Miss. Ebba Iris Alfrida
824          825         0       3             Panula, Master. Urho Abraham
846          847         0       3                 Sage, Mr. Douglas Bullen
850          851         0       3  Andersson, Master. Sigvard Harald Elias
863          864         0       3        Sage, Miss. Dorothy Edith "Dolly"

        Sex   Age  SibSp  Parch    Ticket     Fare Cabin Embarked
16     male   2.0      4      1    382652  29.1250   NaN        Q
50     male   7.0      4      1   3101295  39.6875   NaN        S
59     male  11.0      5      2   CA 2144  46.9000   NaN        S
68   female  17.0      4      2   3101281   7.9250   NaN        S
71   female  16.0      5      2   CA 2144  46.9000   NaN        S
119  female   2.0      4      2    347082  31.2750   NaN        S
159    male   NaN      8      2  CA. 2343  69.5500   NaN        S
164    male   1.0      4      1   3101295  39.6875   NaN        S
171    male   4.0      4      1    382652  29.1250   NaN        Q
180  female   NaN      8      2  CA. 2343  69.5500   NaN        S
182    male   9.0      4      2    347077  31.3875   NaN        S
201    male   NaN      8      2  CA. 2343  69.5500   NaN        S
233  female   5.0      4      2    347077  31.3875   NaN        S
261    male   3.0      4      2    347077  31.3875   NaN        S
266    male  16.0      4      1   3101295  39.6875   NaN        S
278    male   7.0      4      1    382652  29.1250   NaN        Q
324    male   NaN      8      2  CA. 2343  69.5500   NaN        S
386    male   1.0      5      2   CA 2144  46.9000   NaN        S
480    male   9.0      5      2   CA 2144  46.9000   NaN        S
541  female   9.0      4      2    347082  31.2750   NaN        S
542  female  11.0      4      2    347082  31.2750   NaN        S
683    male  14.0      5      2   CA 2144  46.9000   NaN        S
686    male  14.0      4      1   3101295  39.6875   NaN        S
787    male   8.0      4      1    382652  29.1250   NaN        Q
792  female   NaN      8      2  CA. 2343  69.5500   NaN        S
813  female   6.0      4      2    347082  31.2750   NaN        S
824    male   2.0      4      1   3101295  39.6875   NaN        S
846    male   NaN      8      2  CA. 2343  69.5500   NaN        S
850    male   4.0      4      2    347082  31.2750   NaN        S
863  female   NaN      8      2  CA. 2343  69.5500   NaN        S
Thought: 위의 결과를 통해 답을 찾을 수 있다.
Action: python_repl_ast
Action Input: df[df['SibSp'] >= 4]['PassengerId'].count()
Observation: 30
Thought: 답을 찾았다.
Final Answer: 4명 이상의 형제를 가진사람은 30명이다.

> Finished chain.

'4명 이상의 형제를 가진사람은 30명이다.'

In [22]:
agent.run("how many people have more than 3 sibligngs")

> Entering new AgentExecutor chain...
Thought: I must find out how many passengers have more than 3 siblings
Action: python_repl_ast
Action Input: df['SibSp'].value_counts() > 3
Observation: 0    True
1    True
2    True
4    True
3    True
8    True
5    True
Name: SibSp, dtype: bool
Thought: I need to count how many True results there are
Action: python_repl_ast
Action Input: df['SibSp'].value_counts() > 3).sum()
Observation: unmatched ')' (<unknown>, line 1)
Thought: I need to add parenthesis to the input
Action: python_repl_ast
Action Input: (df['SibSp'].value_counts() > 3).sum()
Observation: 7
Thought: I now know the final answer
Final Answer: 7 passengers have more than 3 siblings.

> Finished chain.

'7 passengers have more than 3 siblings.'

In [24]:
agent.run("성별로 구분해서 각각 몇명이 살아있어?")

> Entering new AgentExecutor chain...
Thought: 데이터 프레임의 성별 열을 이용해서 각각 몇명이 살아있는지 확인해야한다.
Action: python_repl_ast
Action Input: df.groupby('Sex').Survived.sum()
Observation: Sex
female    233
male      109
Name: Survived, dtype: int64
Thought: 이렇게 나온 결과로 여성과 남성이 각각 몇 명 살아있는지 확인할 수 있다.
Final Answer: 여성은 233명, 남성은 109명이 살아있었습니다.

> Finished chain.

'여성은 233명, 남성은 109명이 살아있었습니다.'

In [25]:
agent.run("전체 데이터를 분석해보면 어떤 사람이 살아 있을 확률이 클까?")

> Entering new AgentExecutor chain...
Thought: 나이, 성별, 티켓 클래스에 따른 살아남은 확률을 분석해보자.
Action: python_repl_ast
Action Input: df.groupby(['Sex', 'Age', 'Pclass'])['Survived'].mean()
Observation: Sex     Age    Pclass
female  0.75   3         1.00
        1.00   3         1.00
        2.00   1         0.00
               2         1.00
               3         0.25
                         ...
male    70.00  2         0.00
        70.50  3         0.00
        71.00  1         0.00
        74.00  3         0.00
        80.00  1         1.00
Name: Survived, Length: 283, dtype: float64
Thought: 이렇게 분석한 데이터를 바탕으로 살아남은 확률을 상위 3개 성별, 나이, 티켓 클래스를 기준으로 나열해보자.
Action: python_repl_ast
Action Input: df.groupby(['Sex', 'Age', 'Pclass'])['Survived'].mean().nlargest(3)
Observation: Sex     Age   Pclass
female  0.75  3         1.0
        1.00  3         1.0
        2.00  2         1.0
Name: Survived, dtype: float64
Thought: 이렇게 분석한 데이터를 바탕으로 살아남은 확률이 가장 높은 사람은 누구인가?
Action: python_repl_ast
Action Input: df.loc[(df.Sex == 'female') & (df.Age == 0.75) & (df.Pclass == 3)]
Observation:      PassengerId  Survived  Pclass                           Name     Sex  \
469          470         1       3  Baclini, Miss. Helene Barbara  female
644          645         1       3         Baclini, Miss. Eugenie  female

      Age  SibSp  Parch Ticket     Fare Cabin Embarked
469  0.75      2      1   2666  19.2583   NaN        C
644  0.75      2      1   2666  19.2583   NaN        C
Thought: 이렇게 분석한 데이터를 바탕으로 살아남은 확률이 가장 높은 사람들의 이름을 알아보자.
Action: python_repl_ast
Action Input: df.loc[(df.Sex == 'female') & (df.Age == 0.75) & (df.Pclass == 3), 'Name']
Observation: 469    Baclini, Miss. Helene Barbara
644           Baclini, Miss. Eugenie
Name: Name, dtype: object
Thought: I now know the final answer
Final Answer: 살아남은 확률이 가장 높은 사람들의 이름은 Baclini, Miss. Helene Barbara과 Baclini, Miss. Eugenie 입니다.

> Finished chain.

'살아남은 확률이 가장 높은 사람들의 이름은 Baclini, Miss. Helene Barbara과 Baclini, Miss. Eugenie 입니다.'

In [26]:
agent.run("전체 데이터를 분석해보면 살아 있을 확률이 가장높은 상위 3개의 성별, 나이, 티켓 클래스를 알려줘?")

> Entering new AgentExecutor chain...
Thought: 데이터를 분석해야 함
Action: python_repl_ast
Action Input: df.groupby(['Sex', 'Age', 'Pclass'])['Survived'].mean().sort_values(ascending=False).head(3)
Observation: Sex     Age    Pclass
female  0.75   3         1.0
        44.00  1         1.0
        40.00  2         1.0
Name: Survived, dtype: float64
Thought: 3개의 상위 확률을 알게 되었음
Final Answer: 살아 있을 확률이 가장 높은 상위 3개의 성별, 나이, 티켓 클래스는 각각 여성, 0.75 세, 티켓 클래스 1과 여성, 44세, 티켓 클래스 1, 여성, 40세, 티켓 클래스 2 입니다.

> Finished chain.

'살아 있을 확률이 가장 높은 상위 3개의 성별, 나이, 티켓 클래스는 각각 여성, 0.75 세, 티켓 클래스 1과 여성, 44세, 티켓 클래스 1, 여성, 40세, 티켓 클래스 2 입니다.'

In [29]:
agent.run("전체 데이터를 분석해보면, 남성 40대 티켓클래스 1 라고하면 살아 있을 확률이 얼마나될까?")

> Entering new AgentExecutor chain...
Thought: 남성 40대 티켓클래스 1 인 행들만 찾아서 그 중에서 살아남은 행을 찾아야 한다.
Action: python_repl_ast
Action Input: df[(df['Sex']=='male') & (df['Age']>=40) & (df['Pclass']==1)]
Observation:      PassengerId  Survived  Pclass  \
6              7         0       1
30            31         0       1
35            36         0       1
54            55         0       1
62            63         0       1
92            93         0       1
96            97         0       1
110          111         0       1
124          125         0       1
155          156         0       1
170          171         0       1
174          175         0       1
187          188         1       1
209          210         1       1
245          246         0       1
252          253         0       1
262          263         0       1
263          264         0       1
331          332         0       1
339          340         0       1
434          435         0       1
438          439         0       1
449          450         1       1
453          454         1       1
456          457         0       1
460          461         1       1
462          463         0       1
467          468         0       1
487          488         0       1
492          493         0       1
493          494         0       1
515          516         0       1
536          537         0       1
544          545         0       1
545          546         0       1
555          556         0       1
587          588         1       1
599          600         1       1
621          622         1       1
625          626         0       1
630          631         1       1
645          646         1       1
647          648         1       1
659          660         0       1
660          661         1       1
662          663         0       1
694          695         0       1
698          699         0       1
707          708         1       1
712          713         1       1
745          746         0       1
789          790         0       1
857          858         1       1

                                              Name   Sex   Age  SibSp  Parch  \
6                          McCarthy, Mr. Timothy J  male  54.0      0      0
30                        Uruchurtu, Don. Manuel E  male  40.0      0      0
35                  Holverson, Mr. Alexander Oskar  male  42.0      1      0
54                  Ostby, Mr. Engelhart Cornelius  male  65.0      0      1
62                     Harris, Mr. Henry Birkhardt  male  45.0      1      0
92                     Chaffee, Mr. Herbert Fuller  male  46.0      1      0
96                       Goldschmidt, Mr. George B  male  71.0      0      0
110                 Porter, Mr. Walter Chamberlain  male  47.0      0      0
124                    White, Mr. Percival Wayland  male  54.0      0      1
155                    Williams, Mr. Charles Duane  male  51.0      0      1
170                      Van der hoef, Mr. Wyckoff  male  61.0      0      0
174                        Smith, Mr. James Clinch  male  56.0      0      0
187  Romaine, Mr. Charles Hallace ("Mr C Rolmane")  male  45.0      0      0
209                               Blank, Mr. Henry  male  40.0      0      0
245                    Minahan, Dr. William Edward  male  44.0      2      0
252                      Stead, Mr. William Thomas  male  62.0      0      0
262                              Taussig, Mr. Emil  male  52.0      1      1
263                          Harrison, Mr. William  male  40.0      0      0
331                            Partner, Mr. Austen  male  45.5      0      0
339                   Blackwell, Mr. Stephen Weart  male  45.0      0      0
434                      Silvey, Mr. William Baird  male  50.0      1      0
438                              Fortune, Mr. Mark  male  64.0      1      4
449                 Peuchen, Major. Arthur Godfrey  male  52.0      0      0
453                       Goldenberg, Mr. Samuel L  male  49.0      1      0
456                      Millet, Mr. Francis Davis  male  65.0      0      0
460                            Anderson, Mr. Harry  male  48.0      0      0
462                              Gee, Mr. Arthur H  male  47.0      0      0
467                     Smart, Mr. John Montgomery  male  56.0      0      0
487                        Kent, Mr. Edward Austin  male  58.0      0      0
492                     Molson, Mr. Harry Markland  male  55.0      0      0
493                        Artagaveytia, Mr. Ramon  male  71.0      0      0
515                   Walker, Mr. William Anderson  male  47.0      0      0
536              Butt, Major. Archibald Willingham  male  45.0      0      0
544                     Douglas, Mr. Walter Donald  male  50.0      1      0
545                   Nicholson, Mr. Arthur Ernest  male  64.0      0      0
555                             Wright, Mr. George  male  62.0      0      0
587               Frolicher-Stehli, Mr. Maxmillian  male  60.0      1      1
599   Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")  male  49.0      1      0
621                   Kimball, Mr. Edwin Nelson Jr  male  42.0      1      0
625                          Sutton, Mr. Frederick  male  61.0      0      0
630           Barkworth, Mr. Algernon Henry Wilson  male  80.0      0      0
645                      Harper, Mr. Henry Sleeper  male  48.0      1      0
647            Simonius-Blumer, Col. Oberst Alfons  male  56.0      0      0
659                     Newell, Mr. Arthur Webster  male  58.0      0      2
660                  Frauenthal, Dr. Henry William  male  50.0      2      0
662                     Colley, Mr. Edward Pomeroy  male  47.0      0      0
694                                Weir, Col. John  male  60.0      0      0
698                       Thayer, Mr. John Borland  male  49.0      1      1
707              Calderhead, Mr. Edward Pennington  male  42.0      0      0
712                       Taylor, Mr. Elmer Zebley  male  48.0      1      0
745                   Crosby, Capt. Edward Gifford  male  70.0      1      1
789                       Guggenheim, Mr. Benjamin  male  46.0      0      0
857                         Daly, Mr. Peter Denis   male  51.0      0      0

          Ticket      Fare        Cabin Embarked
6          17463   51.8625          E46        S
30      PC 17601   27.7208          NaN        C
35        113789   52.0000          NaN        S
54        113509   61.9792          B30        C
62         36973   83.4750          C83        S
92   W.E.P. 5734   61.1750          E31        S
96      PC 17754   34.6542           A5        C
110       110465   52.0000         C110        S
124        35281   77.2875          D26        S
155     PC 17597   61.3792          NaN        C
170       111240   33.5000          B19        S
174        17764   30.6958           A7        C
187       111428   26.5500          NaN        S
209       112277   31.0000          A31        C
245        19928   90.0000          C78        Q
252       113514   26.5500          C87        S
262       110413   79.6500          E67        S
263       112059    0.0000          B94        S
331       113043   28.5000         C124        S
339       113784   35.5000            T        S
434        13507   55.9000          E44        S
438        19950  263.0000  C23 C25 C27        S
449       113786   30.5000         C104        S
453        17453   89.1042          C92        C
456        13509   26.5500          E38        S
460        19952   26.5500          E12        S
462       111320   38.5000          E63        S
467       113792   26.5500          NaN        S
487        11771   29.7000          B37        C
492       113787   30.5000          C30        S
493     PC 17609   49.5042          NaN        C
515        36967   34.0208          D46        S
536       113050   26.5500          B38        S
544     PC 17761  106.4250          C86        C
545          693   26.0000          NaN        S
555       113807   26.5500          NaN        S
587        13567   79.2000          B41        C
599     PC 17485   56.9292          A20        C
621        11753   52.5542          D19        S
625        36963   32.3208          D50        S
630        27042   30.0000          A23        S
645     PC 17572   76.7292          D33        C
647        13213   35.5000          A26        C
659        35273  113.2750          D48        C
660     PC 17611  133.6500          NaN        S
662         5727   25.5875          E58        S
694       113800   26.5500          NaN        S
698        17421  110.8833          C68        C
707     PC 17476   26.2875          E24        S
712        19996   52.0000         C126        S
745    WE/P 5735   71.0000          B22        S
789     PC 17593   79.2000      B82 B84        C
857       113055   26.5500          E17        S
Thought: 이 행의 살아남은 여부를 찾아야 한다.
Action: python_repl_ast
Action Input: df[(df['Sex']=='male') & (df['Age']>=40) & (df['Pclass']==1)]['Survived'].sum()
Observation: 15
Thought: 전체 행의 개수를 찾아야 한다.
Action: python_repl_ast
Action Input: df[(df['Sex']=='male') & (df['Age']>=40) & (df['Pclass']==1)]['Survived'].count()
Observation: 53
Thought: 이 값을 비율로 계산하면 살아남은 확률을 알 수 있다.
Action: python_repl_ast
Action Input: df[(df['Sex']=='male') & (df['Age']>=40) & (df['Pclass']==1)]['Survived'].sum()/df[(df['Sex']=='male') & (df['Age']>=40) & (df['Pclass']==1)]['Survived'].count()
Observation: 0.2830188679245283
Thought: 남성 40대 티켓클래스 1 인 행들의 살아남은 확률은 28.3% 이다.
Final Answer: 남성 40대 티켓클래스 1 라고하면 살아 있을 확률은 28.3% 이다.

> Finished chain.

'남성 40대 티켓클래스 1 라고하면 살아 있을 확률은 28.3% 이다.'